<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administração</title>
    <link rel="stylesheet" href="../public/Css/Style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Administração</h2>
      <div class="category-container">
        <div class="category-card">
          <a href="CadastroEleitores.html" target="_blank"
            >Cadastro de Eleitor</a
          >
        </div>
        <div class="category-card">
          <a href="CadastroCandidatos.html" target="_blank"
            >Cadastro de Candidato</a
          >
        </div>
        <div class="category-card">
          <a href="CadastroEleições.html" target="_blank"
            >Cadastro de Eleição</a
          >
        </div>
        <div class="category-card">
          <a href="CadastroCargos.html" target="_blank">Cadastro de Cargo</a>
        </div>

        <div class="category-card">
          <a href="CandidatosEleicao.html" target="_blank"
            >Associação de Candidatos à Eleição</a
          >
        </div>

        <div class="category-card">
          <a href="CadastroChapa.html" target="_blank">Cadastro de Chapa</a>
        </div>
        <div class="category-card">
          <a href="CadastroCandidatoChapa.html" target="_blank"
            >Cadastro de Candidato na Chapa</a
          >
        </div>
        <div class="category-card">
          <a href="LiberacaoEleitorVotacao.html" target="_blank"
            >Liberação do Eleitor</a
          >
        </div>
        <div class="category-card">
          <a href="Votacao.html" target="_blank">Votação</a>
        </div>
        <div class="category-card">
          <a href="InicioFimVotacao.html" target="_blank"
            >Início e Fim de Votação</a
          >
        </div>

        <div class="category-card">
          <a href="relatorioInicializacao.html" target="_blank"
            >Relatório de Inicialização da Votação</a
          >
        </div>
        <div class="category-card">
          <a href="relatorioFinalizacao.html" target="_blank"
            >Relatório de Finalização de Eleição</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
