<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/Css/FormularioEleicoes.css" />
    <title>Cadastro de Eleição</title>
  </head>
  <body>
    <div>
      <h1 id="titulo">Cadastro de Eleição</h1>
      <p id="subtitulo">Informe os detalhes da eleição</p>
      <br />
    </div>

    <form id="cadastroEleicao">
      <div class="campo">
        <label for="nome">Nome da Eleição:</label>
        <input type="text" id="nome" name="nome" required />
      </div>

      <div class="campo">
        <label for="data">Data da Eleição:</label>
        <input type="date" id="data" name="data" required />
      </div>

      <div class="campo">
        <label for="local">Local da Eleição:</label>
        <input type="text" id="local" name="local" required />
      </div>

      <div class="campo">
        <label for="hora_inicial">Hora Inicial:</label>
        <input type="time" id="hora_inicial" name="hora_inicial" required />
      </div>

      <div class="campo">
        <label for="hora_final">Hora Final:</label>
        <input type="time" id="hora_final" name="hora_final" required />
      </div>

      <button type="submit">Cadastrar</button>
    </form>

    <script src="../public/scripts/scriptEleicao.js"></script>
  </body>
</html>
