<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Candidato na Chapa</title>
    <link rel="stylesheet" href="../public/Css/CandidatoChapaCadastro.css" />
  </head>
  <body>
    <h1>Cadastro de Candidato na Chapa</h1>
    <form id="candidatoChapaForm">
      <label for="chapa">Chapa:</label>
      <select id="chapa" name="chapa" required>
        <!-- As opções serão preenchidas dinamicamente via JavaScript -->
      </select>

      <label for="cargo">Cargo:</label>
      <select id="cargo" name="cargo" required>
        <!-- As opções serão preenchidas dinamicamente via JavaScript -->
      </select>

      <label for="candidato">Candidato:</label>
      <select id="candidato" name="candidato" required>
        <!-- As opções serão preenchidas dinamicamente via JavaScript -->
      </select>

      <button type="submit">Cadastrar</button>
    </form>

    <script src="../public/scripts/scriptCandidatoChapa.js"></script>
  </body>
</html>
