<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/Css/FormularioCargos.css" />
    <title>Cadastro Cargos</title>
  </head>
  <body>
    <div>
      <h1 id="titulo">Cadastro de Cargos</h1>
      <p id="subtitulo">Complete suas informações</p>
      <br />
    </div>

    <form id="formCadastroCargos">
      <fieldset class="grupo">
        <div class="campo">
          <label for="nome">Nome do cargo:</label>
          <input type="text" name="nome" id="nome" required />
        </div>

        <div class="campo">
          <label for="eleicao"><strong>Eleição:</strong></label>
          <select id="eleicao" name="eleicao" required>
            <option selected disabled value="">Selecione a Eleição</option>
            <!-- As opções de eleições serão preenchidas dinamicamente pelo sistema -->
          </select>
        </div>

        <button class="botao" type="submit">Concluído</button>
      </fieldset>
    </form>

    <script>
      // Função para preencher dinamicamente o dropdown de eleições
      function preencherEleicoes() {
        fetch("http://localhost:5000/api/eleicoes")
          .then((response) => response.json())
          .then((data) => {
            const eleicaoSelect = document.getElementById("eleicao");

            eleicaoSelect.innerHTML = ""; // Limpar as opções existentes
            const defaultOption = document.createElement("option");
            defaultOption.text = "Selecione uma eleição";
            defaultOption.value = "";
            eleicaoSelect.appendChild(defaultOption);

            data.forEach((eleicao) => {
              const option = document.createElement("option");
              option.text = eleicao.nome;
              option.value = eleicao.id;
              eleicaoSelect.appendChild(option);
            });
          })
          .catch((error) => console.error("Erro ao obter as eleições:", error));
      }

      // Chamar a função ao carregar a página para preencher o dropdown
      window.addEventListener("load", preencherEleicoes);

      // Adicionar um evento de submit ao formulário
      document
        .getElementById("formCadastroCargos")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Evitar o comportamento padrão de submissão

          // Obter os valores dos campos do formulário
          const nomeCargo = document.getElementById("nome").value;
          const eleicaoId = document.getElementById("eleicao").value;

          // Verifique se os valores estão sendo capturados corretamente
          console.log("Nome do Cargo:", nomeCargo);
          console.log("ID da Eleição:", eleicaoId);

          // Enviar os dados para o servidor via fetch
          fetch("http://localhost:5000/api/cargos", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ cargo: nomeCargo, eleicao_id: eleicaoId }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                console.error("Erro ao cadastrar cargo:", data.error);
                alert("Erro ao cadastrar cargo.");
              } else {
                console.log("Sucesso:", data);
                alert("Cargo cadastrado com sucesso!");
                document.getElementById("formCadastroCargos").reset();
              }
            })
            .catch((error) => {
              console.error("Erro ao cadastrar cargo:", error);
              alert("Erro ao cadastrar cargo.");
            });
        });
    </script>
  </body>
</html>
