<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Chapa</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Cadastro de Chapa</h1>
    <form id="chapaForm">
      <label for="nomeChapa">Nome da Chapa:</label>
      <input type="text" id="nomeChapa" name="nomeChapa" required />

      <label for="eleicao">Eleição:</label>
      <select id="eleicao" name="eleicao" required>
        <!-- As opções serão preenchidas dinamicamente via JavaScript -->
      </select>

      <button type="submit">Cadastrar</button>
    </form>

    <script src="../public/scripts/scriptChapa.js"></script>
  </body>
</html>
