<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Associar Candidatos à Eleição</title>
    <link rel="stylesheet" href="../public/Css/Style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Associar Candidatos à Eleição</h2>
      <form id="associarForm">
        <label for="eleicaoId">Eleição:</label>
        <select id="eleicaoId" required>
          <option value="">Selecione uma eleição</option></select
        ><br />

        <label for="candidatoId">Candidato:</label>
        <select id="candidatoId" required>
          <option value="">Selecione um candidato</option></select
        ><br />

        <button type="submit">Associar</button>
      </form>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>
    <script src="../public/scripts/scriptCandidatosEleicao.js"></script>
  </body>
</html>
