<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/Css/FormularioEleições.css" />
    <title>Cadastro de Eleições</title>
  </head>
  <body>
    <div>
      <h1 id="titulo">Cadastro de Eleições</h1>
      <p id="subtitulo">Informe os detalhes da eleição</p>
      <br />
    </div>

    <form id="eleicoes">
      <fieldset class="grupo">
        <div class="campo">
          <label for="data">Data da Eleição:</label>
          <input type="date" id="data" name="data" required />
        </div>

        <div class="campo">
          <label for="rua">Rua:</label>
          <input type="text" id="rua" name="rua" required />
        </div>

        <div class="campo">
          <label for="numero">Número:</label>
          <input type="text" id="numero" name="numero" required />
        </div>

        <div class="campo">
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" name="cidade" required />
        </div>

        <div class="campo">
          <label for="estado">Estado:</label>
          <input type="text" id="estado" name="estado" required />
        </div>

        <div class="campo">
          <label for="cep">CEP:</label>
          <input
            type="text"
            id="cep"
            name="cep"
            required
            pattern="\d{5}-\d{3}"
            title="O CEP deve estar no formato XXXXX-XXX"
          />
        </div>
      </fieldset>

      <button class="botao" type="submit">Cadastrar</button>
    </form>

    <script>
      document.getElementById("cep").addEventListener("input", function (e) {
        var cep = e.target.value;
        cep = cep.replace(/\D/g, ""); // Remove todos os caracteres não numéricos
        if (cep.length >= 5) {
          cep = cep.replace(/(\d{5})(\d)/, "$1-$2"); // Adiciona o traço após o quinto dígito
        }
        e.target.value = cep;
      });
    </script>
  </body>
</html>
