<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início e Fim de Votação</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Início e Fim de Votação</h1>
    <form id="votacaoForm">
      <label for="eleicao">Eleição:</label>
      <select id="eleicao" name="eleicao" required>
        <!-- As opções serão preenchidas dinamicamente via JavaScript -->
      </select>

      <label for="dataHoraInicio">Data e Hora de Início:</label>
      <input
        type="datetime-local"
        id="dataHoraInicio"
        name="dataHoraInicio"
        required
      />

      <label for="dataHoraFim">Data e Hora de Fim:</label>
      <input
        type="datetime-local"
        id="dataHoraFim"
        name="dataHoraFim"
        required
      />

      <button type="submit">Registrar Votação</button>
    </form>

    <script src="../public/scripts/scriptInicioFimVotacao.js"></script>
  </body>
</html>
