<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liberação de Voto</title>
    <link rel="stylesheet" href="../public/Css/Style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Liberação de Voto</h2>
      <form id="liberacaoForm">
        <label for="cpfEleitor">CPF do Eleitor:</label>
        <input type="text" id="cpfEleitor" required /><br />

        <button type="submit">Confirmar Liberação</button>
      </form>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>
    <script>
      document
        .getElementById("liberacaoForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Evita o comportamento padrão do formulário

          const cpfEleitor = document.getElementById("cpfEleitor").value;

          fetch("http://localhost:5000/api/liberar-eleitor", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ cpf: cpfEleitor }),
          })
            .then((response) => response.json())
            .then((data) => {
              alert("Eleitor liberado com sucesso!");
            })
            .catch((error) => {
              console.error("Erro ao liberar eleitor:", error);
              alert(
                "Erro ao liberar eleitor. Verifique o console para mais informações."
              );
            });
        });
    </script>
  </body>
</html>
