<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liberação de Voto</title>
    <link rel="stylesheet" href="../public/Css/LiberaçãoVoto.css" />
  </head>
  <body>
    <div class="container">
      <h2>Liberação de Voto</h2>
      <form id="liberacaoForm">
        <label for="cpfEleitor">CPF do Eleitor:</label>
        <input type="text" id="cpfEleitor" required /><br />

        <button type="submit">Confirmar Liberação</button>
      </form>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>
    <script src="../public/scripts/scriptLiberacaoEleitorVotacao.js"></script>
  </body>
</html>
