<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <!-- Link para o seu arquivo CSS -->
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <form id="loginForm" method="POST">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" required />

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
        <a href="#" class="forgot-password">Esqueci minha senha</a>
      </form>
    </div>

    <script src="../public/scripts/scriptLogin.js"></script>
    <!-- Link para o seu arquivo JavaScript -->
  </body>
</html>
