<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de Finalização da Eleição</title>
    <link rel="stylesheet" href="../public/Css/relatorioFinal.css" />
  </head>
  <body>
    <div class="container">
      <h2>Relatório de Finalização da Eleição</h2>
      <label for="eleicaoInicializacao">Eleição:</label>
      <select
        id="eleicaoInicializacao"
        onchange="fetchCandidateListAndVoters()"
      ></select
      ><br />

      <label for="listaCandidatos">Lista de Candidatos:</label>
      <select id="listaCandidatos" multiple></select
      ><br />

      <label for="totalEleitores">Total de Eleitores:</label>
      <input type="text" id="totalEleitores" readonly /><br />

      <button onclick="generateInitialReport()">Gerar Relatório</button>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.10.0/dist/pdf-lib.min.js"></script>
    <script src="../public/scripts/scriptRelatorioFinalizacao.js"></script>
  </body>
</html>
