<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de Finalização de Eleição</title>
    <link rel="stylesheet" href="../public/Css/Style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Relatório de Finalização de Eleição</h2>
      <label for="eleicaoFinalizacao">Eleição:</label>
      <select id="eleicaoFinalizacao"></select>
      <button onclick="generateFinalReport()">Gerar Relatório</button>
      <button onclick="exportToPDF()">Exportar PDF</button>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>
    <script src="../public/scripts/scriptsRel.js"></script>
  </body>
</html>
