<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Votação</title>
    <link rel="stylesheet" href="../public/Css/Style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Votação</h2>
      <form id="votacaoForm">
        <label for="eleicao">Selecione a Eleição:</label>
        <select id="eleicao" required>
          <option value="">Selecione uma eleição</option>
          <!-- Opções de eleições serão adicionadas dinamicamente aqui --></select
        ><br />

        <label for="candidato">Selecione o Candidato:</label>
        <select id="candidato" required>
          <option value="">Selecione um candidato</option>
          <!-- Opções de candidatos serão adicionadas dinamicamente aqui --></select
        ><br />

        <label for="eleitor">Selecione o Eleitor:</label>
        <select id="eleitor" required>
          <option value="">Selecione um eleitor</option>
          <!-- Opções de eleitores serão adicionadas dinamicamente aqui --></select
        ><br />

        <button type="submit">Votar</button>
      </form>
      <nav>
        <a href="admin.html">Voltar</a>
      </nav>
    </div>

    <script src="../public/scripts/scriptVotacao.js"></script>
  </body>
</html>
