body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #titulo {
    text-align: center;
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px; 
  }
  
  #subtitulo {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  #formularioCandidatos {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center; 
  }
  
  .campo {
    margin-bottom: 15px;
    text-align: left; 
  }
  
  .campo label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .campo input[type="text"],
  .campo input[type="email"],
  .campo input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .botao {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
  }
  
  .botao:hover {
    background-color: #333;
  }
  